.center-flex-container {
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 584px;
  height: 48px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}