.center-flex-container {
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 584px;
  height: 48px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
 
.submit-button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  text-align: center;
  }

  .submit-button:hover {
    border: 1px solid black;
  }

  .submit-button:focus {
    border: 1px solid blue;
}
  
.link-container {
  text-align: right;
}

.nav-link {
  margin: 10px;
  color: black;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  /* Justify content so that the elements in the div are aligned to the edges of the div */
  justify-content: space-between;
}

.advanced-h1 {
  margin-left: 10px;
  margin-top: 30px;
  color: #d93025;
  font-size: 20px;
  font-family: arial, sans-serif
}

.horizontal-line {
  margin-top: 20px;
  border-bottom: 1px solid #ebeeeb;
}

.advanced-guidelines {
  display: flex;
  justify-content: space-between;
}

.col1-heading {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.col3-heading {
  font-size: 13px;
  font-weight: 700;
  color: #777;
  margin-right: 30px; /* TO-DO: FIND THE ACCURATE NUMBER */
}

.advanced-input-grid {
  display: grid;
}

.col-one-item {
  font-size: 13px;
  color: #222;
  height: 30px;
  margin-bottom: 12px;
  list-style-type: none;
}
